:root {
  --dc5: #1e2124;
  --dc4: #282b30;
  --dc3: #36393e;
  --dc2: #424549;
  --dc1: #7289da;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--dc3);
}

.main {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.col {
  padding: 1rem;
  background-color: #282b30;
  border-radius: 0.5rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.command {
  padding: 0.5rem;
  background-color: #36393e;
}

#avatar > img {
  max-height: 150px;
}

#name {
  font-weight: bold;
}

#server {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#server > img {
  max-width: 75px;
}
